<template name="loginBox">

  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <form class="form-signin mg-btm" id="login-form">
          <h3 class="heading-desc">
            <button aria-hidden="true" class="close pull-right" id="close-login-box" type="button">×</button>
            Login to Diplomacy</h3>
          <div class="social-box">
            <div class="row mg-btm">
              <div class="col-md-12">
                <a class="btn btn-primary btn-block" href="#" id="login-with-facebook">
                  <i class="icon-facebook"></i>
                  Login with Facebook
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-info btn-block" href="#">
                  <i class="icon-twitter"></i>
                  Login with Twitter
                </a>
              </div>
            </div>
          </div>
          <div class="main">

            <input autofocus class="form-control" id="login-email" placeholder="Email" type="text">
            <input class="form-control" id="login-password" placeholder="Password" type="password">
            <span class="clearfix"></span>
          </div>
          <div class="login-footer">
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <div class="left-section">
                  <a href="">Forgot your password?</a>
                  <a href="">Sign up now</a>
                </div>
              </div>
              <div class="col-xs-6 col-md-6 pull-right">
                <button class="btn btn-large btn-danger pull-right" id="login-user" type="submit">Login</button>
              </div>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>

</template>
